<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="uk.co.workingedge.phonegap.plugin.LaunchNavigator"
    version="2.1.0">

  <name>Launch Navigator</name>
  <description>Cordova/Phonegap plugin to launch native navigation app for Android (Google Navigator), iOS (Apple Maps), and Windows Phone (Bing Maps) to navigate to a destination.</description>
  <author>Dave Alden</author>

  <engines>
    <engine name="cordova" version=">=3.0.0" />

  </engines>
  <repo>https://github.com/dpa99c/phonegap-launch-navigator.git</repo>
  <issue>https://github.com/dpa99c/phonegap-launch-navigator/issues</issue>

  <license>MIT</license>
  <keywords>cordova,phonegap,ios,android,windows,navigation,navigator</keywords>


  <!-- android -->
  <platform name="android">
    <js-module src="www/android/launchnavigator.js" name="LaunchNavigator">
      <clobbers target="launchnavigator" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LaunchNavigator">
        <param name="android-package" value="uk.co.workingedge.phonegap.plugin.LaunchNavigator"/>
      </feature>
    </config-file>

    <source-file src="src/android/LaunchNavigator.java" target-dir="src/uk/co/workingedge/phonegap/plugin" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <js-module src="www/ios/launchnavigator.js" name="LaunchNavigator">
      <clobbers target="launchnavigator" />
    </js-module>

    <config-file target="config.xml" parent="/*">
      <feature name="LaunchNavigator">
        <param name="ios-package" value="LaunchNavigator"/>
      </feature>
    </config-file>
  </platform>

  <!-- windows -->
  <platform name="windows">
    <js-module src="www/windows/launchnavigator.js" name="LaunchNavigator">
      <clobbers target="launchnavigator" />
    </js-module>     
  </platform>

</plugin>