<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="uk.co.workingedge.phonegap.plugin.launchnavigator"
    version="2.9.7">

  <name>Launch Navigator</name>
  <description>Cordova/Phonegap plugin to navigate to a destination using the native navigation app on Android (Google Navigator), iOS (Apple Maps/Google Maps), and Windows Phone (Bing Maps).</description>
  <author>Dave Alden</author>

  <engines>
    <engine name="cordova" version=">=3.0.0" />

  </engines>
  <repo>https://github.com/dpa99c/phonegap-launch-navigator.git</repo>
  <issue>https://github.com/dpa99c/phonegap-launch-navigator/issues</issue>

  <license>MIT</license>
  <keywords>cordova,phonegap,ios,android,windows,navigation,navigator</keywords>

  <!-- android -->
  <platform name="android">
    <js-module src="www/android/launchnavigator.js" name="LaunchNavigator">
      <clobbers target="launchnavigator" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LaunchNavigator">
        <param name="android-package" value="uk.co.workingedge.phonegap.plugin.LaunchNavigator"/>
      </feature>
    </config-file>

    <source-file src="src/android/LaunchNavigator.java" target-dir="src/uk/co/workingedge/phonegap/plugin" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <js-module src="www/ios/launchnavigator.js" name="LaunchNavigator">
      <clobbers target="launchnavigator" />
    </js-module>

    <config-file target="config.xml" parent="/*">
      <feature name="LaunchNavigator">
        <param name="ios-package" value="LaunchNavigator"/>
      </feature>
    </config-file>
    
    <header-file src="src/ios/LaunchNavigator.h" />
    <source-file src="src/ios/LaunchNavigator.m" />

    <framework src="MapKit.framework" />
    <framework src="CoreLocation.framework" />

    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>comgooglemaps</string>
      </array>
    </config-file>
  </platform>

  <!-- windows -->
  <platform name="windows">
    <js-module src="www/windows/launchnavigator.js" name="LaunchNavigator">
      <clobbers target="launchnavigator" />
    </js-module>     
  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <js-module src="www/wp8/launchnavigator.js" name="LaunchNavigator">
      <clobbers target="launchnavigator" />
    </js-module>     
  </platform>

</plugin>